img{
  border-radius: 75px;
}
h2{
  font-size: 18px;
  }
body{
  background-color: #ee507b;
  font-family: 'Trebuchet MS';
  color: #fae99a;
  text-align: center;
}
a{
  background-color: #fae99a;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: #ee507b;

}